[submodule "Plugins/HorizonDatabasePlugin"]
	path = Plugins/HorizonDatabasePlugin
	url = https://github.com/dorgonman/HorizonDatabasePlugin.git
[submodule "ci_scripts/function/python/HorizonBuildTool"]
	path = ci_scripts/function/python/HorizonBuildTool
	url = https://github.com/dorgonman/HorizonBuildTool.git
[submodule "horizon_ci_scripts"]
	path = horizon_ci_scripts
	url = https://horizon-studio.visualstudio.com/DefaultCollection/UE4HorizonPlugin/_git/horizon_ci_scripts
[submodule "ue_ci_scripts"]
	path = ue_ci_scripts
	url = https://horizon-studio.visualstudio.com/DefaultCollection/UE4HorizonPlugin/_git/ue_ci_scripts
