[submodule "Plugins/HorizonDatabasePlugin"]
	path = Plugins/HorizonDatabasePlugin
	url = https://github.com/dorgonman/HorizonDatabasePlugin.git
[submodule "ci_scripts/function/python/HorizonBuildTool"]
	path = ci_scripts/function/python/HorizonBuildTool
	url = https://github.com/dorgonman/HorizonBuildTool.git
